.skype:hover svg,
.email:hover svg{
	color: skyblue;
}

.skype b,
.email b{
	color: #313131!important;
}
.section.is-primary {
    background-color: #2C43FF;
    color: #fff;
}
.hero.is-white {
    background-color: #2C43FF;
    color: #0a0a0a;
}
.hero.is-white .title {
    color: #fafafa;
}
.hero.is-white .subtitle {
    color: #fafafa;
}